/* worksans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* common styles */
*{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 5px;
    background-color: #FF900E;
    border: 0;
    cursor: pointer;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 60px 30px;
}
.nav-title{
    color: #131313;
    font-size: 1.8rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    gap: 30px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.1rem;
    font-weight: 500;
}

/* banner styles */
.banner-content{
    margin: 100px auto 50px;
    text-align: center;
    max-width: 700px;
}
.banner-title{
    font-size: 3rem;
    color: #131313;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    margin: 30px 0;
}
.banner-image > img{
    width: 100%;
}

/* features styles */
main{
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid blue;
}
.features{
    display: flex;
    align-items: center;
    margin: 50px 0 100px;
}
.features-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 500px;
    gap: 1.5rem;
    margin-right: 70px;
}
.features-gallery > img{
    width: 100%;
}
.features-content{
    width: calc(960px - 570px);
}
.feature-title{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 8px;
}
.silver{
    color: #727272;
    font-weight: 500;
}
.orange{
    color: #FF900E;
}
.feature-description{
    color: #727272;
}

/* responsive media queries */

/* mobile devices */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .features{
        flex-direction: column;
    }
    nav > ul{
        padding-left: 0;
    }
    .features{
        margin: 50px 0;
    }
    .features-gallery{
        grid-template-columns: repeat(1, 1fr);
        margin-right: 0;
    }
    .features-gallery, .features-content{
        width: 100%;
    }
}

/* table or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 50px;
    }
    nav, .features{
        flex-direction: column;
    }
    nav > ul{
        padding-left: 0;
    }
    .features-gallery{
        margin-right: 0;
    }
    .features-content {
        width: calc(960px - 460px);
    }
}
